{% extends "myAgentIA/base.html" %}

{% block title %} 
    Accueil
{% endblock %}

{% block body %} 


<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../static/myAgentIA/images/image1.jpg" class="d-block w-100 image-fluid" style="height:500px;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../static/myAgentIA/images/image2.jpg" class="d-block w-100" style="height:500px;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../static/myAgentIA/images/image3.jpg" class="d-block w-100" style="height:500px;" alt="...">
      </div>
    </div>
  </div>

<br>
<br>
    <div class="container col-8 text-align:center ">
        <h4>
            Gemma est un chatbot intelligent et adaptable,
            conçu pour vous offrir une assistance pratique et enrichissante. 
            Toujours à vos côtés pour répondre à vos questions, vous guider 
            et vous assister avec des solutions intelligentes
        </h4>
    </div>

    <div class="container col-6 mt-5">

        <div class="card" style="width:600px;">
            <div class="card-body">
                <p class="col-4 " style="text-align: center;">
        
                    <section>
                        Voici quelques exemples de ce que Gemma peut faire pour vous:
                        <ul class="list-group">
                        <li class="list-group-item">Obtenir des réponses à vos questions en temps réel.</li>
                        <li class="list-group-item">Recevoir des conseils personnalisés et adaptés à vos besoins.</li>
                        <li class="list-group-item">Simplifier les démarches complexes et automatiser certaines tâches.</li>
                        <li class="list-group-item">Aider à organiser votre agenda, trouver des informations ou accéder aux ressources pertinentes</li>
                        <li class="list-group-item">Gemma excelle dans les conversations naturelles et empathiques</li>
                        <li class="list-group-item">Un apprentissage continu,Rédiger du texte,resumé,rapport...etc.</li>
                        </ul>
                        <p> Gemma est accessible à tout moment et place sur tous vos appareils.📱💻 
                        N'hésitez plus, rejoignez l'avenir de l'assistance!** </p>
                    </section>
                    
                </p>
            
            </div>
        </div>
        
        </div>
    


{% endblock %}

