{% extends "myAgentIA/base.html" %}

{% block title %}
   welcome page
{% endblock %}

{% block body %}

<!-- Partie du header -->
    <br>
    <header class="mt-5 ">
        <div class="container col-6 text-center justify-content-center ">

                <div>
                    <div>
                        <h1 class="fs-4">Bienvenue <span class="text-blue">{{ request.user.username|capfirst}}</span> sur notre Chatbox AI !</h1>
                        <p class="fs-6">
                            Discutez instantanément avec notre assistant intelligent. Que vous ayez des questions ou besoin d'aide, notre AI est là pour vous répondre 24/7. 
                            Simple, rapide et intuitif — essayez-la maintenant !
                        </p>
                        <br>
                        
                </div>

        </div>
    </header>
    <br>
        <!-- créer un workspace -->
        <section id="displayNone1">
            <div class="container col-6">
                <!-- Button trigger modal -->
                   
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Créer un workspace</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <form >
                                <input type="text" id="inputModal" class="form-control"/>
                            </form>
                            </div>
                            <div class="modal-footer ">
                            <button type="submit" class="btn btn-secondary" id="btnModal" data-bs-dismiss="modal"><i class="bi bi-send-fill"></i> Envoyer</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <br>
                    <br>
                <!-- Les workspaces ou les espaces de travail -->
                    <div>
                        <h3 class="text-center">Espaces de travail</h3>
                    </div>
                    <br>
                    <button type="button"  class="btn btn-primary ms-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="bi bi-folder-plus"></i> Ajouter
                    </button>
                    <br>
                    <br>
                    <ul id="list">
                    
                    </ul>
            </div>

        </section>
        
            

    <section id="displayNone">
        <!-- Partie sur les historiques de l'espace de travail-->
            <div class="container row">
                <div class="col-4">
                    <div class="ms-5">
                        <h3 class="text-center">Historique de chats</h3>
                        <ul class="chatHistory">
                    
                        </ul>
                        
                    </div>
                </div>

                <!--  Partie sur le formulaire  -->
                  <br>
                <div class="col-6">
                    <div>
                        <div>
                            <div id="question-reponse" class="text-center">
                                <h3><strong>Question:</strong></h3>
                                <p id="question">Aucune question</p>
                                <div>
                                    <h5 >Response :</h5>
                                    <p id="reponse">Aucune réponse</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <br>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <br>
                        <div>
                            <textarea name="textarea"  id="prompt" placeholder="Entrez votre prompt..." class="form-control" rows="4" cols="100"></textarea>

                            <br>
                            <div class="input-container">
                                <input type="text" class="rounded-input" id="textarea" placeholder="Entrez votre texte ici">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-2"><input type="submit" required class="submit btn btn-primary"  name="submitButton"/></div>
                            
                            <div class="col-4"><label  for="fichiers" id="btnFichiers" class="btn btn-primary"><i class="bi bi-cloud-upload-fill"></i> Un fichier</label>
                                <input type="file" class="btn btn-primary" style="display: none;" name="monFichier" id="fichiers"><br></div>
                        </div>
                    </form>
                </div>

                <div class="col-2">
                    <div>
                        <a  href="" id="createWorkspace"> <i class="bi bi-folder-fill"></i>New workspace</a><br>

                        <div>
                            <a  href="{% url 'Aide' %}" id="createWorkspace"><i class="bi bi-box-arrow-up-right"></i>Aide</a>
                        </div>
                            
                        <br>
                        <div style="margin-top:160px;;">
                            <h6>Choisir une langue </h6>
                            <select id="selectMenu">
                                <option value="en">English (Anglais)</option>
                                <option value="zh">中文 (Chinois)</option>
                                <option value="es">Español (Espagnol)</option>
                                <option value="hi">हिन्दी (Hindi)</option>
                                <option value="ar">العربية (Arabe)</option>
                                <option value="bn">বাংলা (Bengali)</option>
                                <option value="pt">Português (Portugais)</option>
                                <option value="ru">Русский (Russe)</option>
                                <option value="ja">日本語 (Japonais)</option>
                                <option value="de">Deutsch (Allemand)</option>
                                <option value="ko">한국어 (Coréen)</option>
                                <option value="fr" selected>Français</option>
                                <option value="it">Italiano (Italien)</option>
                                <option value="tr">Türkçe (Turc)</option>
                                <option value="vi">Tiếng Việt (Vietnamien)</option>
                                <option value="th">ไทย (Thaï)</option>
                                <option value="pl">Polski (Polonais)</option>
                                <option value="fa">فارسی (Persan)</option>
                                <option value="id">Bahasa Indonesia (Indonésien)</option>
                                <option value="ms">Bahasa Melayu (Malais)</option>
                                <option value="ur">اردو (Ourdou)</option>
                            </select>
                        </div>

                        <br>
                        <div>
                            <h6>Température</h6>
                            <input type="number" id="quantity" name="quantity" min="0.00" max="1" value="0.7" step="0.1">
                        </div>
                        
                    </div>
                </div>
  
            </div>
            
            </div>

        </div>
</section>
        <script>
            document.addEventListener('DOMContentLoaded',(e)=>{

                document.querySelector("#createWorkspace").addEventListener("click",e=>{
                    e.preventDefault()
                    sectionDisplayNone1=document.querySelector("#displayNone1")
                    sectionDisplayNone1.style.display="block"
                    sectionDisplayNone=document.querySelector("#displayNone")
                    sectionDisplayNone.style.display="none"
                })
                

                const btnModal=document.querySelector("#btnModal")
                const inputModal=document.querySelector("#inputModal")

                btnModal.addEventListener("click",(e)=>{


                        inputValue=inputModal.value
                        const url1='http://localhost:3001/api/v1/workspace/new'

                        let myObjects={name:inputValue}
                        fetch(url1, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer NCCMGE7-EX549F3-M07Q82E-5VZ22F2'  // Ajout de la clé API
                        },
                        body: JSON.stringify(myObjects)
                        })
                        .then(data=>{
                            getWorkspaces()
                        })
                        .catch(error => console.error('Error:', error));
                        
                        
                   })


                // js pour le workspace
                getWorkspaces()
                //fetch workspaces fuction
                function getWorkspaces(){
                    const url='http://localhost:3001/api/v1/workspaces'
                        fetch(url, {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Authorization': 'Bearer NCCMGE7-EX549F3-M07Q82E-5VZ22F2'
                        }
                        })
                        .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                        })
                        .then(data => {
                            const list=document.querySelector("#list")
                            let content=""
                            data.workspaces.forEach(element => {
                                content+=`<li class="list-group-item d-flex">
                                            <span > <a href="" name=${element.slug}>${element.name} </a></span>

                                            <div style="width:100%;display:flex;justify-content:end;">
                                                <div>
                                                    <button class="btn btn-danger me-2" name=${element.slug}> <i class="bi bi-trash"></i> <span>Supprimer</span></button>
                                                </div>
                                                <div>
                                                    <button class="btn btn-secondary" name=${element.slug}><i class="bi bi-pencil-square"></i> <span>Rénomer</span></button>
                                                </div>
                                            </div>
                                          </li>`
                            });

                            list.innerHTML=content
                        }
                        )
                        .catch(error => console.error('There was a problem with the fetch operation:', error));

                }
                // supprimer un espace de travail
                function deleteWorkspace(workspace){
                        const url2=`http://localhost:3001/api/v1/workspace/${workspace}`
                        fetch(url2, {
                        method: 'DELETE',
                        headers: {
                            'accept': '*/*',
                            'Authorization': 'Bearer NCCMGE7-EX549F3-M07Q82E-5VZ22F2'
                        }
                        })
                        .then(response => {
                        if (!response.ok) {
                            throw new Error('Erreur: ' + response.status);
                        } // ou response.text() si la réponse n'est pas en JSON
                        getWorkspaces()
                        })
                }

                //faire une requête http pour changer le nom du workspace
                function updateWorkspace(workspace,currentWorkspace){
                    const url=`http://localhost:3001/api/v1/workspace/${currentWorkspace}/update`
                                    // requête de soumission de données du formulaire au API de anythingLLM

                    const objectJs={
                                "name":workspace,
                                "openAiTemp": 0.7,
                                "openAiHistory": 20,
                                "openAiPrompt": "réponds à toutes les questions posées. Si le contexte est specifié, réponds par rapport à ce contexte"
                                }
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer NCCMGE7-EX549F3-M07Q82E-5VZ22F2'  // Ajout de la clé API
                        },
                        body: JSON.stringify(objectJs)
                        })
                        .then(data=>{
                            getWorkspaces()
                        })
                            .catch(error => console.error('Error:', error))

                        }


                        // ajouter un evénement au bouton 

                    
                    list.addEventListener("click",(e)=>{
                        e.preventDefault()
                        let listItem=e.target
                
                        if (listItem.hasAttribute("href")){
                            sectionDisplayNone=document.querySelector("#displayNone")
                            sectionDisplayNone.style.display="inline-block"
                            sectionDisplayNone1=document.querySelector("#displayNone1")
                            sectionDisplayNone1.style.display="None"


                            }
                            else if(listItem.textContent==="Supprimer"){
                                const workspace=e.target.parentElement.name
                                deleteWorkspace(workspace)
                            }
                            else if(listItem.textContent==="Rénomer")
                            {
                                const currentWorkspace=e.target.parentElement.name               
                                const newWorkspace=prompt("Entrer le nouveau nom du workspace")
                                updateWorkspace(newWorkspace,currentWorkspace)
                            }

                        })


                //section display none
                document.querySelector("#displayNone").style.display="None"
                
                //fonction qui permet d'extraire les donnée après la requête http
                function getMessagesByChatId(history) {
                        const messagesByChatId = {};
                        history.forEach(entry => {
                            const chatId = entry.chatId;

                            if (!messagesByChatId[chatId]) {
                            messagesByChatId[chatId] = { user: null, assistant: null };
                            }

                            if (entry.role === 'user') {
                            messagesByChatId[chatId].user = entry.content;
                            } else if (entry.role === 'assistant') {
                            messagesByChatId[chatId].assistant = entry.content;
                            }
                        });

                        return messagesByChatId;
                        }

            //get specific workspace chats
                function getWorkspaceChat(workspace){

                    const url= `http://localhost:3001/api/v1/workspace/${workspace}/chats`

            //fecth les chats 
                fetch(url, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Authorization': 'Bearer NCCMGE7-EX549F3-M07Q82E-5VZ22F2'  // Include the Bearer token for authorization
                    }
                    })
                    .then(response => response.json())
                    .then(data => {
                        const history=data.history
                        const chatHistory=document.querySelector('.chatHistory')

                        splitArray=getMessagesByChatId(history)
                            // Conversion en array
                            const conversationArray = Object.keys(splitArray).map(chatId => ({
                            chatId: parseInt(chatId),
                            user: splitArray[chatId].user,
                            assistant: splitArray[chatId].assistant
                            }));

                            let content=''
                            conversationArray.forEach((element)=>{
                                 content+=`
                                 </br>
                                        <li>
                                            <span> <strong> Question: </strong>${element.user}</span></br>
                                            <span> <strong> Reponse:</strong>${element.assistant}</span>
                                        </li>`
                            })

                            chatHistory.innerHTML=content

                                })
                    .catch(error => console.error('Error:', error));


                }

            let workspaceCurrent=''
            list.addEventListener("click",(e)=>{
                                    const workspace=e.target.name
                                    workspaceCurrent=workspace

                                    if(e.target.hasAttribute("href")){
                                        getWorkspaceChat(workspace)
                                    }

                                    })
                
                
                const submitButton=document.querySelector(".submit")

                   // initilialisation des éléments chargement...
                const questionElt=document.querySelector("#question")
                const reponseElt=document.querySelector("#reponse")


                //chat using the api

            function chatApi(message){

                const url=`http://localhost:3001/api/v1/workspace/${workspaceCurrent}/chat`
                    // requête de soumission de données du formulaire au API de anythingLLM
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer NCCMGE7-EX549F3-M07Q82E-5VZ22F2'  // Ajout de la clé API
                        },
                        body: JSON.stringify({
                            message:message,
                            mode: "chat"
                        })
                        })
                        .then(response => response.json())
                        .then(data => {
                            document.querySelector("#reponse").textContent=data.textResponse
                            document.querySelector("#question").textContent=message

                            getWorkspaceChat(workspaceCurrent)
                            
                        })
                        .catch(error => console.error('Error:', error));
            }
                

                   // Lorsque l'on clique pour soumettre le formulaire
                
                submitButton.addEventListener("click",(e)=>{
                    e.preventDefault()
                    
                    // récuperer le message de textarea afin de l'envoyer par http avec fetch
                    const message = document.getElementById("textarea").value
                    //initialisation du responseElt et du questionElt 
                    reponseElt.innerHTML=`<div class="spinner-border text-primary" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                         </div>`
                    questionElt.textContent=message
                    //vider le textarea
                    document.getElementById("textarea").value=""
                    const tempApi=document.getElementById("quantity").value


                    let promptInput=document.querySelector("#prompt").value
                    
                    if (promptInput===''){
                        promptInput="Si le contexte est specifié,réponds par raport au contexte."
                    }
                    const languageSelect=document.querySelector("#selectMenu")
                    const codeLang=document.querySelector("#selectMenu").value
                    let language='Français'


                    // parcourir toutes les options afin de prendre le contenu du texte

                    for (let i = 0; i < languageSelect.options.length; i++) {
                        const option = languageSelect.options[i];

                        if (option.value===codeLang)
                         {
                            language=option.text
                            console.log(language)
                         }

                        // Affiche la valeur et le texte de l'option dans la conso
                        }


                    
                    // update workspace before chatting

                    // requête de soumission de données du formulaire au API de anythingLLM

                    const objectJs={
                                "name":'AnythingLLM',
                                "openAiTemp": parseFloat(tempApi),
                                "openAiHistory": 20,
                                "openAiPrompt": `Traduis les réponse en langue ${language}.${promptInput}.`
                                }
                    fetch(`http://localhost:3001/api/v1/workspace/${workspaceCurrent}/update`, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer NCCMGE7-EX549F3-M07Q82E-5VZ22F2'  // Ajout de la clé API
                        },
                        body: JSON.stringify(objectJs)
                        })
                        .then(data=>{
                            chatApi(message)
                            
                            
                        })
                            .catch(error => console.error('Error:', error))

                    

                })




            //Uploading the file
            const fichier = document.getElementById("fichiers")
            fichier.addEventListener("change",(e)=>{
        
            let monFichier = fichier.files[0]; 
            let formData = new FormData();
            if(monFichier.type==="application/pdf" || monFichier.type==="application/plain")
            {
                formData.append("file",monFichier)
                console.log(formData)
                fetch('http://localhost:3001/api/v1/document/upload', {
                    method: 'POST',
                    headers: {
                        'Authorization': 'Bearer NCCMGE7-EX549F3-M07Q82E-5VZ22F2',
                        // 'Content-Type': 'multipart/form-data', // Ne pas inclure cette ligne, fetch gère cela automatiquement
                        'accept': 'application/json'
                    },
                    body: formData
                })
                .then(response => response.json())
                .then(data =>{
                    const name=data.documents[0].title
                    const id=data.documents[0].id
                    moveFile(name,id)
                })
                .catch(error => console.error('Error:', error));

            }
            })

        function moveFile(nom,id){

                        const myObject={"files": [ {"from": `custom-documents/${nom}-${id}.json`,"to": `folder/${nom}-${id}.json` }]}
                        
                        fetch('http://localhost:3001/api/v1/document/move-files', {
                                method: 'POST',
                                headers: {
                                    'Authorization': 'Bearer NCCMGE7-EX549F3-M07Q82E-5VZ22F2',
                                    // 'Content-Type': 'multipart/form-data', // Ne pas inclure cette ligne, fetch gère cela automatiquement
                                    'accept': 'application/json'
                                },
                                body: JSON.stringify(myObject)
                            })
                            .then(response => response.json())
                            .then(data => console.log(data))
                   }

                //scroller jusqu'à l'élément question
                const question=document.querySelector('#question')
                const offsetViewport=question.getBoundingClientRect()
                const topPosition=offsetViewport.top

                window.scrollTo({
                        top:topPosition,
                        behavior: "smooth",
                        });
            })
        </script>
            

{% endblock %}

