{% extends "myAgentIA/base.html" %}

{% block title %}
   welcome page
{% endblock %}

{% block body %}

    <br>
    <header class="mt-5 ">
        <div class="container col-6 text-center justify-content-center ">

            <div>
                <div>
                    <h1 class="fs-4">Bienvenue sur notre Chatbox AI !</h1>
                    <p class="fs-6">
                        Discutez instantanément avec notre assistant intelligent. Que vous ayez des questions ou besoin d'aide, notre AI est là pour vous répondre 24/7. 
                        Simple, rapide et intuitif — essayez-la maintenant !
                    </p>
                    <br>
                    
                </div>
        </header>
            <div class="row">

                <div class="col-6 ">
                    <div class="ms-5">
                        <h3 class="text-center">Historique de chats</h3>

                        <ul class="chatHistory">

                        </ul>
                        
                    </div>
                </div>
                <div class=" container col-6">
                    <div>
                        <div>
                            <div id="question-reponse text-center">
                                <h3 class="text-center"><strong>Question:</strong></h3>
                                    <p  class="text-center" id="question">Aucune question</p>
                                <div class="card justify-content-center" style="width:650px;">
                                    <div class="card-body">
                                    <h5 class="card-title text-center">Response :</h5>
                                    <p class="card-text text-center" id="reponse">Aucune réponse</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <br>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            <input type="file" class="form-control" name="monFichier" id="fichiers">
                            <br>
                            <div>
                                <textarea name="textarea" id="textarea" placeholder="Rentrez un message..." class="form-control" rows="4" cols="90"></textarea>
                            </div>
                            <br>
                            <div>
                                <input type="submit" class="submit btn btn-primary" name="submitButton"/>
                            </div>
                    </form>
                </div>

                
            </div>
            
            </div>

        </div>


        <script>
            document.addEventListener('DOMContentLoaded',(e)=>{


                function getMessagesByChatId(history) {
                        const messagesByChatId = {};

                        history.forEach(entry => {
                            const chatId = entry.chatId;

                            if (!messagesByChatId[chatId]) {
                            messagesByChatId[chatId] = { user: null, assistant: null };
                            }

                            if (entry.role === 'user') {
                            messagesByChatId[chatId].user = entry.content;
                            } else if (entry.role === 'assistant') {
                            messagesByChatId[chatId].assistant = entry.content;
                            }
                        });

                        return messagesByChatId;
                        }
                //fecth les chats 
                fetch('http://localhost:3001/api/v1/workspace/anythingllm/chats', {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Authorization': 'Bearer NCCMGE7-EX549F3-M07Q82E-5VZ22F2'  // Include the Bearer token for authorization
                    }
                    })
                    .then(response => response.json())
                    .then(data => {
                        const history=data.history
                        const chatHistory=document.querySelector('.chatHistory')

                        splitArray=getMessagesByChatId(history)
                        // Objet initial
                            // Conversion en array
                            const conversationArray = Object.keys(splitArray).map(chatId => ({
                            chatId: parseInt(chatId),
                            user: splitArray[chatId].user,
                            assistant: splitArray[chatId].assistant
                            }));

                            let content=''
                            conversationArray.forEach((element)=>{
                                 content+=`
                                 </br>
                                        <li>
                                            <span> <strong> Question: </strong>${element.user}</span></br>
                                            <span> <strong> Reponse:</strong>${element.assistant}</span>
                                        </li>`

                            })

                            chatHistory.innerHTML=content

                                })
                    .catch(error => console.error('Error:', error));

                
                const submitButton=document.querySelector(".submit")
                submitButton.addEventListener("click",(e)=>{
                    e.preventDefault()
                    const message = document.getElementById("textarea").value

                    const url="http://localhost:3001/api/v1/workspace/anythinllm/chat"

                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer NCCMGE7-EX549F3-M07Q82E-5VZ22F2'  // Ajout de la clé API
                        },
                        body: JSON.stringify({
                            message:message,
                            mode: "chat"
                        })
                        })
                        .then(response => response.json())
                        .then(data => {
                            document.querySelector("#reponse").textContent=data.textResponse
                            document.querySelector("#question").textContent=message
                            document.getElementById("textarea").value=""
                        })
                        .catch(error => console.error('Error:', error));


                })

                //scroller jusqu'à l'élément question
                const question=document.querySelector('#question')
                const offsetViewport=question.getBoundingClientRect()
                const topPosition=offsetViewport.top

                window.scrollTo({
                        top:topPosition,
                        behavior: "smooth",
                        });
            })
        </script>
            

{% endblock %}

